@model WebPortfolio.Models.ViewModels.ResumeViewModel

<!DOCTYPE html>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
  $(window).load(function() {
    window.print();
  });
</script>
<head>
    <title>Resume</title>
<style>
    body {
      font-family: Arial, sans-serif;
      font-size: 10pt;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 8px;
      page-break-before: auto;
      page-break-after: auto;
      page-break-inside: avoid;
    }
    /*td {*/
    /*  border-width: 1px;*/
    /*  overflow: hidden;*/
    /*  word-break: normal;*/
    /*  border-color: black;*/
    /*  padding: 3px;*/
    /*}*/
    table td {
      padding: 5px;
    }
    .header-container-logo {
      float: right;
      height: 60px;
      width: 60px;
      padding-bottom: 20px;
    }
    .header-container-title {
      display: inline-block;
    }
    .boldGrayBackground {
      background-color: lightgrey;
    }
    .center {
      text-align: center;
    }
    
    #wrapper {
      display: flex;
    }
    
    #left {
      flex: 0 0 35%;
    }
    
    #right {
      flex: 1;
    }
    
    .headerSplit {
      width: 30%; 
      margin-left:0;
      margin-top: 0; 
      margin-bottom: 0;
    }
  </style>
</head>
<body>
<div>
  <div class="header-container">
    <table style="border-collapse: collapse">
      <tr>
        <td style="border: none" class="center">
          <h1 class="header-container-title">@Model.ApplicantName</h1>
        </td>
      </tr>
      <tr>
        <td style="border: none;" class="center">
          <h3 class="header-container-title">@Model.Title</h3>
        </td>
      </tr>
    </table>
  </div>

  <div id="wrapper">
    <div id="left">
      <table>
        <tbody>
          <tr>
            <td class="">
              <h3 class="header-container-title">Personnel Profile</h3>
            </td>
          </tr>
          <tr>
            <td style="text-align: left; white-space:nowrap;">
              <hr class="headerSplit">
            </td>
          </tr>
          <tr>
            <td class="">@Model.ProfileDescription</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="right">
      <table style="border-right: 2px">
        <tbody>
          <tr>
            <td class="">
              <h3 class="header-container-title">Personnel Projects</h3>
            </td>
            
          </tr>
          <tr style="line-height: 14px;">
            <td style="text-align: left">
              <hr class="headerSplit">
            </td>
          </tr>
          <tr>
            <td class="">
              <h4 class="header-container-title">VR Developer</h4>
            </td>
            <td>
              <h4 class="header-container-title">2017-Present</h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  @* <div style="width: 50%"> *@
  @*    *@
  @*   <table> *@
  @*     <tbody> *@
  @*     <tr> *@
  @*       <td class=""> *@
  @*         <h3 class="header-container-title">Personnel Profile</h3> *@
  @*       </td> *@
  @*       <td class="">@Model.ProfileDescription</td> *@
  @*       <td class="">@Model.Test</td> *@
  @*       $1$ <td>@Model.Trade</td> #1# *@
  @*     </tr> *@
  @*     <tr> *@
  @*       <td class="">Time Served In Industry</td> *@
  @*       $1$ <td>@Model.TimeServedInIndustry</td> #1# *@
  @*       <td class="">Age</td> *@
  @*       $1$ <td>@Model.Age</td> #1# *@
  @*     </tr> *@
  @*     <tr> *@
  @*       <td class="">Eligibiity To Work In The UK</td> *@
  @*       $1$ <td colspan="3">@Model.</td> #1# *@
  @*     </tr> *@
  @*     </tbody> *@
  @*   </table> *@
  @*   </div> *@

</div>
</body>
