@model WebPortfolio.Models.ViewModels.ResumeViewModel

<!DOCTYPE html>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
  $(window).load(function() {
    window.print();
  });
</script>
<head>
    <title>Resume</title>
<style>
    body {
      font-family: Arial, sans-serif;
      font-size: 8pt;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 8px;
      page-break-before: auto;
      page-break-after: auto;
      page-break-inside: avoid;
    }
    /*td {*/
    /*  border-width: 1px;*/
    /*  overflow: hidden;*/
    /*  word-break: normal;*/
    /*  border-color: black;*/
    /*  padding: 3px;*/
    /*}*/
    table td {
      padding: 5px;
    }
    .header-container-logo {
      float: right;
      height: 60px;
      width: 60px;
      padding-bottom: 20px;
    }
    h3 {
      margin-bottom: 0;
    }
    .header-container-title {
      display: inline-block;
    }
    .boldGrayBackground {
      background-color: lightgrey;
    }
    .center {
      text-align: center;
    }
    
    #wrapper {
      display: flex;
    }
    
    #left {
      flex: 0 0 45%;
    }
    
    #right {
      flex: 1;
    }
    
    .headerSplit {
      width: 30%; 
      margin-left:0;
      margin-top: 0; 
      margin-bottom: 0;
    }
  </style>
</head>
<body>
<div>
  <div class="header-container">
    <table style="border-collapse: collapse">
      <tr>
        <td style="border: none" class="center">
          <h1 class="header-container-title">@Model.ApplicantName</h1>
        </td>
      </tr>
      <tr>
        <td style="border: none;" class="center">
          <h3 class="header-container-title">@Model.Title</h3>
        </td>
      </tr>
    </table>
  </div>
  <div id="wrapper">
    <div id="left">
      <table>
        <tbody>
          <!-- Personnel Profile Section -->
          <tr>
            <td colspan="2">
              <h3 class="header-container-title">Personnel Profile</h3>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: left; white-space:nowrap;">
              <hr class="headerSplit">
            </td>
          </tr>
          <tr>
            <td colspan="2">@Model.ProfileDescription</td>
          </tr>
          <br/>
          
          <!-- Contact Section -->
          <tr>
            <td colspan="2">
              <h3 class="header-container-title">Contact</h3>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: left; white-space:nowrap;">
              <hr class="headerSplit">
            </td>
          </tr>
          @foreach (var (details1, details2) in Model.ContactDetails.Zip(Model.ContactDetailsDescription, Tuple.Create))
          {
            <tr>
              <td style="width: 30%">@details1</td>
              <td>@details2</td>
            </tr>
          }
          <br/>

          <!-- Technical Skills Section -->
          <tr>
            <td colspan="2">
              <h3 class="header-container-title">Technical Skills</h3>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: left; white-space:nowrap;">
              <hr class="headerSplit">
            </td>
          </tr>
          @foreach (var skills in Model.TechnicalSkills)
          {
            <tr>
              <td colspan="2">@skills</td>
            </tr>
          }
          <br/>
          
          <!-- References Section -->
          <tr>
            <td colspan="2">
              <h3 class="header-container-title">References</h3>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: left; white-space:nowrap;">
              <hr class="headerSplit">
            </td>
          </tr>
          @foreach (var reference in Model.References)
          {
            <tr>
              <td colspan="2">@reference</td>
            </tr>
          }
          <br/>

        </tbody>
      </table>
    </div>
    <div id="right">
      <table style="border-right: 2px">
        <tbody>
          <tr>
            <td class="">
              <h3 class="header-container-title">Personnel Projects</h3>
            </td>
          </tr>
          <tr style="line-height: 14px;">
            <td style="text-align: left">
              <hr class="headerSplit">
            </td>
          </tr>
          <tr>
            <td class="">
              <h4 class="header-container-title">VR Developer</h4>
            </td>
            <td>
              <h4 class="header-container-title">2017-Present</h4>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
